.front-page {
    .learn_more{
        background-color: $light-grey;
        padding: 50px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 50px;
    }
}