.front-page {
    h2{
       color: black;
       font-family: $header_font; 
       font-weight: 600;
       text-transform: uppercase;
       text-align: center;
    }
    
    .mission {
        text-align: center;
        
        padding: 20px;


        p{
            color: black;
            font-family: $body_font;
            font-size: 1.3em;
            // padding: 0 120px;
            max-width: 800px;
            margin: 0 auto;
        }
        .events{
            text-align: unset;
        }
        .stats{
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            font-family: $header_font;
            font-weight: 600;
            
            .stat{
                display: flex;
                flex-direction: column;
                color: $primary;
                font-size: 70px;
                font-family: $header_font;
                margin: 20px;
                p{
                    color: $primary;
                    font-family: $body_font;
                    font-size: 20px;
                    font-weight: normal;
                }
            }
        }
    }
    
    
}

