.front-page {
    .news{
        h2{
            font-size: 60px;
            font-weight: $header_bold;
        }
        .news__body {
            display: flex;
        }

        .news-feed {
            h3:first-child {
                border-top: 3px solid $dark_blue;
                padding-top: 20px;
            }
            h3 {
                font-size: 32px;
                font-weight: $header_bold;
                color: $dark_blue;
                margin: 0;
                margin-top: -5px;
                text-align: left;
            }
            p {
                margin: 0;
                margin-bottom: 20px;
                padding-bottom: 20px;
                text-align: left;
                border-bottom: 3px solid $dark_blue;

            }
        }

    }
}