<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="footer-wths">
    <div class="wrapper">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}</p>
      {%- include social.html -%}
      <p>This site is designed and maintained by students in Programming and Web Development. | Read The story behind this design.</p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>  
    </div>
  </div>
  <div class="footer-wps">
    <div class="wrapper row">
      <div class="col"><img src="/assets/images/logos/wps-new-logo.webp" alt="Worcester Public Schools Logo"></div>
      <div class="col">
        <p>The <a href="https://worcesterschools.org" target="_blank">Worcester Public Schools</a> is an Equal Opportunity/Affirmative Action Employer/Educational Institution and does not discriminate regardless of race, color, gender, age, religion, national origin, gender identity, marital status, sexual orientation, disability or homelessness. The Worcester Public Schools provides equal access to employment and the full range of general, occupational and vocational education programs. For more information relating to Equal Opportunity/Affirmative Action contact the Human Resource Manager, 20 Irving Street, Worcester, MA 01609, 508-799-3020.</p>
      </div>
  
    </div>
  </div>

</footer>
