<footer id="colophon" class="site-footer">
  <div class="footer-wths">
    <div class="container">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}</p>
      {%- include social.html -%}
      <small>
        <p>This site is designed and maintained by students in <a href="/technical-areas/itbs/webdev/">Programming and Web Development</a> | Read the story behind this design.</p>
        <p>
          <a href="mailto:{{ site.email }}">Contact us with your Comments, Questions, and Suggestions.</a> | 
          <a href="mailto:{{ site.email }}">This Website's Privacy Policy</a></p>
      </small>
    </div>
  </div>
  <div class="footer-wps">
    <div class="container">
      <img id="logo" src="/assets/images/logos/wps-new-logo.webp" alt="Worcester Public Schools Logo">
      <p>The <a href="https://worcesterschools.org" target="_blank">Worcester Public Schools</a> is an Equal Opportunity/Affirmative Action Employer/Educational Institution and does not discriminate regardless of race, color, gender, age, religion, national origin, gender identity, marital status, sexual orientation, disability or homelessness. The Worcester Public Schools provides equal access to employment and the full range of general, occupational and vocational education programs. For more information relating to Equal Opportunity/Affirmative Action contact the Human Resource Manager, 20 Irving Street, Worcester, MA 01609, 508-799-3020.</p>
    </div>
  </div>
</footer>