<footer id="colophon" class="site-footer">
  <div class="footer-wths">
    <div class="container">
      <div class="school-info">
        <img 
          src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1671839128/TechHigh.us/logos/worcester-tech-eagles_znezev.svg" 
          alt="Worcester Tech Eagles, EST 1908"
          width="150">
        <div>
          <h1>Worcester Technical High&nbsp;School</h1> 
          <p><address>
            1 Officer Manny Familia Way <span class="show-md">&bullet;</span>
            Worcester,&nbsp;MA&nbsp;01605<br>
            Office Hours: 7:00-3:00 <span class="show-md">&bullet;</span>
            Class&nbsp;Hours:&nbsp;7:20-1:43<br>
            Main Office: (508) 799-1940 <span class="show-md">&bullet;</span>
            Fax:&nbsp;(508)&nbsp;799-1933 
          </address></p>
        </div>
      </div>
      <div class="about-nav">
        <h2>About</h2>
        <ul>
          <li><a href="/contributors/" title="Read the story behind this site">Contributors</a></li>
          <li><a href="/learn-more/contact-us/">Contact Us</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="social-nav">
        <h2>Follow Us</h2>
        {%- include social.html -%}
      </div>
    </div>
    
      <p><em>This site is designed and maintained by students in 
        <a href="/technical-areas/itbs-academy/finance-marketing/">Finance, Marketing, and Business Management</a> 
        and 
        <a href="/technical-areas/itbs-academy/webdev/">Programming and Web Development</a>
      </em></p>
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}</p>
  </div>
  <div class="footer-wps">
    <div class="container">
      <img id="logo" src="/assets/images/logos/wps-new-logo.webp" alt="Worcester Public Schools Logo">
      <p>The <a href="https://worcesterschools.org" target="_blank">Worcester Public Schools</a> is an Equal Opportunity/Affirmative Action Employer/Educational Institution 
        and does not discriminate regardless of race, color, gender, age, religion, national origin, gender identity, marital status, sexual orientation, disability or homelessness. 
        The Worcester Public Schools provides equal access to employment and the full range of general, occupational and vocational education programs. 
        For more information relating to Equal Opportunity/Affirmative Action contact the Human Resource Manager, 20 Irving Street, Worcester, MA 01609, 508-799-3020. 
      </p>

    </div>
  </div>
</footer>

