<div class="wrapper wrapper--site-header">
  <header id="masthead" class="site-header" role="banner">
    <a class="skip-link screen-reader-text" href="#primary">Skip to content</a>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="container">
      <a class="brand" rel="author" href="{{ '/' | relative_url }}">
        W<span class="lg">orcester </span>T<span class="lg">echnical </span>H<span class="lg">igh </span>S<span class="lg">chool</span>
      </a>
      <button title="Menu" class="hamburger " type="button" id="hamburger" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
        <span class="line-container">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </span>
      </button>
    </div>
  
    {%- if page_paths -%}
      <nav id="site-navigation" class="primary-nav mobile">
        <ul class="menu">
          {% for section in site.sections %}
            {% if page.url == section.url  %}
              <li class="menu-item current-menu-item">
                <a href="{{ section.url | relative_url }}" aria-current="page">{{ section.title | escape}}</a>
            {% else %}
              <li class="menu-item">
                <a href="{{ section.url | relative_url }}">{{ section.title | escape}}</a>
            {% endif %}
              {% comment %} modify the file name to match the collection {% endcomment %}
              {% assign sub = section.slug | replace: "-", "_" %}
              <ul class="submenu">
                {% for menu_item in site.[sub] %}
                  {% if page.url == menu_item.url  %}
                    <li class="menu-item current-menu-item">
                      <a href="{{ menu_item.url | relative_url }}" 
                          aria-current="page">{{ menu_item.title | escape }}</a>
                    </li>
                  {% else %}
                    <li class="menu-item">
                      <a href="{{ menu_item.url | relative_url }}">{{ menu_item.title | escape }}</a>
                    </li>
                    <li class="menu-item"></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          
          <script src="https://kit.fontawesome.com/694d5fdcc3.js" crossorigin="anonymous"></script>

          <div id="myOverlay" class="overlay">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
            <div class="overlay-content">
              <form action="/search/" method="get">
                <input type="text" name="s" id="s" placeholder="Search blog posts..">
                <input type="hidden" id="searchText">
              </form>
            </div>
          </div>
          
          <button  class="openBtn" onclick="openSearch()"><i id="myBtn" class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          </button>

          <script>
            function openSearch() {
              document.getElementById("myOverlay").style.display = "block";
              document.getElementById("myBtn").style.visibility = "hidden";
            }

            function closeSearch() {
              document.getElementById("myOverlay").style.display = "none";
              document.getElementById("myBtn").style.visibility = "visible";
            }
            </script>
        </ul>
      </nav>
    {%- endif -%}
  </header>
</div>
