<div class="wrapper">
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="dropdown-menu">
          {% comment %} modify the file name to match the collection {% endcomment %}
          {% assign sub = page.slug | replace: "-", "_" %}
          {% for menu_item in site.[sub] %}
            {% if page.url == menu_item.url %}
              <li class="dropdown-item current-dropdown-item">
                <a href="{{ menu_item.url | relative_url }}" 
                    aria-current="page">{{ menu_item.title | escape }}</a>
            {% else %}
              <li class="dropdown-item">
                <a href="{{ menu_item.url | relative_url }}">{{ menu_item.title | escape }}</a>
            {% endif %}
              {% assign sub = menu_item.slug | replace: "-", "_" %}
                <ul class="dropdown-menu">
                  {% for sub_menu in site.[sub] %}
                    {% if page.url == sub_menu.url  %}
                      <li class="dropdown-item current-dropdown-item">
                        <a href="{{ sub_menu.url | relative_url }}" 
                            aria-current="page">{{ sub_menu.title | escape }}</a>
                    {% else %}
                      <li class="dropdown-item">
                        <a href="{{ sub_menu.url | relative_url }}">{{ sub_menu.title | escape }}</a>
                      <li class="dropdown-item">
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
          {% endfor %}
        </ul>  
    </nav>
</div>
