.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition:$soft;
    &:visited{
        color: white;
    }
}

.btn--ghost {
    background: transparent;
    border: 5px solid $white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    // white-space: nowrap;
    
    &:hover {
        color: transparent;
        font-weight: bold;
        // font-size: 1.2rem;
        background: $white;
        color: $primary;
    }
}

.btn--click {
    border: 2px solid $dark_grey;
    color: $dark_grey;
    &:visited{
        color: $dark_grey;
    }

    &:hover{
        background: $dark_grey;
        color: $white;
    }
}

.btn--cta {
    border: 2px solid $primary;
    color: $primary;
    &:visited{
        color: $primary;
    }

    &:hover{
        background: $primary;
        color: $white;
    }
}