
.list-separator:last-child {
    display: none;
}

// Card Layout
.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 25%;
    flex-grow: 3;
    
}

.card{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: 450px;

    &.card--full-cover {
        padding: 50px 0;
        img{
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            transition: $soft;
            
        }
        &:hover {
            img {
                transform:scale(1.1)
            }
            &::before {
                background-color: rgba(0,0,0,0.4);
            }
        }

        .card-content {
            position: relative;
            z-index: 3;
            color: $white;
            text-transform: capitalize;
            text-align: center;
            .card-title {
                color: $white;
            }
            .card-description{
                text-transform: capitalize;
                font-size: 1.5em;
            }
            
        }

        &::before {
            content:'';
            position:absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            transition: $soft;
        }

        /* Used to be for the full-image cards on the technical areas page [ARCHIVED]*/
        /*
        &.card--technical-areas{
            // margin: 0;
            max-width: 550px;
            height: 370px;
            padding: 50px;

            .card-content{
                min-height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .btn--ghost {
                    font-size: 1em;
                }
            }
        }
        */
    }
    
    &.card--faculty{
        
        padding: 50px 0;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // width: 350px;
        margin: auto;
        img{
            border-radius: 40px;
        }
        .card-title{
            font-weight: bold;
        }
        .staff img {
            width: 240px;
            height: 320px;
            object-fit: cover;
        }
    }

    &.card--academics{
        display: flex;
        flex-direction: column;
        max-width: 265px;
        min-height: 500px;
        background-color: $lighter_grey;
        padding: 0;

        
        &:hover {
            img {
                transform: scale(1.2);
            }
            .image-container::before {
                background-color: rgba(0,0,0,0.4);

            }
        }

        .image-container {
            width: 265px;
            height: 200px;
            overflow: hidden;
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background-color: rgba(0,0,0,0);
                z-index: 4;
                transition: $soft;
            }
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
            transition: $soft;
        }

        .card-content{
            text-align: center;
            flex-grow: 1;
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100%;
            padding: 10px;
            padding-bottom: 20px;
            
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
            }
            min-height:200px;
            .btn {
                margin: 0 auto;
            }
            .shop-links {
                font-size: .7em;    
                display: inline-block;
                position: relative;
                color: black;
                padding: 5px 10px;
                &::before{
                    background-color: gray;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transition: $soft;
                    transform: scaleX(0);
                    z-index: -1;
                    border-radius: 15px;
                }
                &:hover {
                    text-decoration:none;
                }   
            }
            a:hover::before{
                transform: scaleX(100%);
                }

        }
    }
    &.card--academy {
        height: 300px;
        max-width: 410px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    &.card--student-life {
        color: $white;
        width: 100%;
        height: 350px;

        h2 {
            position: relative;
            color: $white;
            font-size: 2em;
            text-align: left;
            display: inline-block;
            &::before{
                transition: $soft;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $white;
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
            }
            &:hover::before{
                transform: scaleX(1);
            }
        }
        .card-content{
            position: absolute;
            bottom: 0px;
            text-align: left;
            padding: 20px;
            padding-top: 40px;
            text-shadow: 0 0 8px black;
            height: 70%;
            background-color: rgba(0,0,0,0.6);
            height: 100%;
        }

        a {
            text-decoration: none;
        }

        .image-container{
            width: 100%;
            height: 350px;
        }

        img {
            transition: $soft;
            width: 425px;
            height: 100%;
            object-fit: cover;
        
        }
        &:hover {
            img {
                transform:scale(1.1)
            }
        }
    }

    &.card--public-services {
        h3{
            text-align: center;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: max-content;
    }
    &.card--clubs{
        max-width: 150%;
        * {
            box-sizing: border-box;
          }
          
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          }
          
          li {
            position: relative;
            display: grid;
            padding: 25px;
            margin: 25px;
            border: solid black 2px;
            border-radius: 10px;
            min-width: 525px;
          }
          
          h2::before {
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;
            content: "\f11b";
            display: inline-block;
            border: $primary 1px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            margin-right: 15px;
            background-color: $primary;
            color: white;
          }
          
          h2 {
            margin:0;
            grid-row-start: 1;
            grid-column-start: 1;
            text-align: left;
          }
          
          h3{
            grid-row-start: 2;
            grid-column-start: 1;
            font-size: 15px;
            padding-left: 50px;
            margin-left: 15px;
            margin-top: -5px;
            text-decoration: none;
          }
          
          hr{
            position: absolute;
            left:-25px;
            grid-row-start: 3;
            grid-column-start: 1;
            border: 1px solid black;
            width: calc(100% + 25px);
          }
          
          p{
            grid-row-start: 4;
            grid-column-start: 1;
            justify-content: space-between;
            padding-top: 10px;
            margin-bottom: 0;
          }
          
          p:nth-child(4){
            text-align: left;
          }
          
          p:nth-child(5){
            text-align: right;
          }
    }
}
.card--organizations {
    h2 {
        text-align: center;
        color: red;
    }
  
    .org-category {
        
    }

    .box-color {
        background-color: blue;
    }
}

.cta-card {
    background-color: grey;
    max-width: 400px;
    min-height: 400px;
    margin: 20px;
    overflow:hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: #003865 10px solid;
    img {
      display: block;
      position: absolute;
      left:0;
      right: 0;
      width:100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .card-content {
      color: white;
      position: relative;
      z-index: 2;
      width: 100%;
      min-height: 360px;
      background-color: #003865d8;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: ease 0.3s all;
      h2 {
        margin:0;
        color: white;
        text-transform:uppercase;
        font-size: 36px;
        font-size: 3.5cqb;
        
      }
      p {
        margin: 0 20px;
        transition: ease 0.3s all;
      }
      .btn {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
  
  
  @media screen and (min-width: 450px) {
    .cta-card {
      min-width: 400px;
      .card-content {
        background-color: #00386550;
        
        p {
          opacity:0;
          font-size: 0;
          overflow: hidden;
        }
        
        &:hover {
          background-color: #003865d8;
          p {
            // opacity: 1;
            font-size: 1rem;
            &.open {
              opacity: 1 ;
            }
          }
        }
      }
    }

  }

  .card--admissions{
    color: $dark_blue;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .card-title{
        z-index: 1;
        position: absolute;
        border-style: solid;
        border-width: 2px;
        border-radius: 70%;
        padding: 20px;
        width: fit-content;
        text-align: center;
        background: white;
        b{
            font-size: 21px;
            font-family: $header_font;
        }
    }
    .card-description{
        color: black;
        border-color: $dark_blue;
        z-index: 0;
        position: relative;
        border-style: solid;
        border-width: 2px;
        width: 250px;
        padding: 15px;
        top: 50px;
        padding-top: 70px;
    }
}

.link-wrapper{
    display: block;
    padding: 10px;
}