
.list-separator:last-child {
    display: none;
}
.card{
    overflow: hidden;
    margin: auto;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 50px;
    max-width: 450px;

    &.card--full-cover {
        img{
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            transition: $soft;
        }
        &:hover {
            img {
                transform:scale(1.1)
            }
            &::before {
                background-color: rgba(0,0,0,0.4);
            }
        }

        .card-content {
            position: relative;
            z-index: 3;
            color: $white;
            text-transform: capitalize;
            .card-title {
                color: $white;
            }
            .card-description{
                text-transform: capitalize;
                font-size: 1.5em;
            }
            
        }

        &::before {
            content:'';
            position:absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            transition: $soft;
        }

        /* This is specifically for the full-image cards on the technical areas page */
        &.card--technical-areas{
            margin: 0;
            .shop-list {
                a {
                    display: inline-block;
                    position: relative;
                    color: $white;
                    padding: 5px 10px;
                    &::before{
                        background-color: $primary;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transition: $soft;
                        transform: scaleX(0);
                        z-index: -1;
                        border-radius: 15px;
                    }
                    &:hover {
                        text-decoration:none;
                    }
                }
                a:hover::before{
                    transform: scaleX(100%);
                }
            }
            .card-content{
                min-height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .btn--ghost {
                    font-size: 1em;
                }
            }
        }
    }
    
    &.card--faculty{
        text-align: center;
        display: flex;
        flex-direction: row;
        img{
            border-radius: 40px;
        }
        .card-title{
            font-weight: bold;
        }
    }
    
}

