.site-footer {
    width: 100%;
    max-width: 100%;
    .container {
        max-width: $max_width;
        margin: 0 auto;
    }
    p {
        font-size: 16px;
        line-height:32px;
        margin: 0;
    }
    small p {
        font-size: 15px;
        line-height: 24px;    
    }
    
    
    .footer-wths {
        padding: 20px;
        width: 100%;
        background-color: $primary;
        color: $white;
        h1, h2 {
            color: $white;
            margin: 0;
        }

        .container{

            .info{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                text-align: center;
                img{
                    max-width: 200px;
                    height: auto;
                    width:100%;
                    display: block;
                    margin: 0 auto;
                }
                p{
                    font-size: 24px;
                    font-family: $header-font;
                }
            }
            
        }
        p{
            text-align: center;
        }
        
        a {
            color: $light_grey;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
        
        .social-media-list{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            width:100%;

            a {
                display: inline-block;
            }
            
            
        }
    }
    .footer-wps {
        .container{
            
            padding: 20px;
            img {
                width: auto;
                max-height: 200px;
                display: block;
                margin: 0 auto;
            }
            p{
                text-align: justify;
            }
            a {
                color: $dark_blue;
                font-weight: $body_bold;
                &:hover {
                    color: $dark_grey;
                    text-decoration: none;
                }
            }
        }
    } 
    
}

@media screen and (min-width: $breakpoint_standard) {
    .footer-wps {
        .container{
            img {
                float: left;
            }
        }
    }
}
