@import "techhigh/variables";
@import "techhigh/mixins";
.site-footer {
    @mixin footerATags {
        color: #B2B4B2;
            :hover{
                color: white;
            }
    }
    padding:45;
    font-size:15px;
    line-height:24px;
    color:#ffffff;
    display: flex;
    flex-wrap: wrap;

    .footer-wths {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $primary;
        color: #B2B4B2;
        text-align: center;
        padding: 20px;
        a {
            @include footerATags();
        }
        .social-media-list{
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            a {
                position: relative;
                margin-left: 30px;
                padding-left:20px;
                @include footerATags();
            }
            .svg-icon{
                width: 20px;
                height: 20px;
                padding: 0px;
                position: absolute;
                left:0;
                top: 3px;
                filter: invert(1);
            }
        }
    }
    
    .wrapper-row {
        object-fit: fill;
    }
    
    .footer-wps {
        color: #26272b;
        background-color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        padding: 100px;
    }
    
    #logo {
        height: 3in;
        width: 3in;
        float: left;
        @media (max-width: 720px) {
            height: 2in;
            width: 2in;
        }
    }
}