.site-footer {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    .container {
        max-width: $max_width;
        margin: 0 auto;
    }
    p {
        font-size: 16px;
        line-height:32px;
        margin: 20px 0 0 0;
    }
  
    
    
    .footer-wths {
        padding: 20px;
        width: 100%;
        background-color: $primary;
        color: $white;
        text-align: center;
        h1, h2 {
            color: $white;
            margin: 0;
        }
        h2 {
            border-top: $footer-divider;
            margin-top: 20px;
            padding-top: 10px;
        }


        .school-info{
            
            img{
                max-width: 150px;
                height: auto;
                width:100%;
                display: block;
                margin: 0 auto;
            }
            p{
                font-size: 24px;
                font-family: $header-font;
            }
        }
            
        p{
            text-align: center;
        }
        
        a {
            color: $light_grey;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
        
        .social-media-list{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            width:100%;

            a {
                display: inline-block;
                font-size: 32px;
                padding: 5px 10px;
            }            
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        li {
            padding:0;
            margin: 0;
            text-align: center;
        }
    }
    .footer-wps {
        position: relative;
        &::before {
            position: absolute;
            content:'';
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.3);
        }
        .container{
            
            padding: 20px;
            img {
                width: auto;
                max-height: 200px;
                display: block;
                margin: 0 auto;
            }
            p{
                text-align: justify;
                position: relative;
                z-index: 5;
                color: #121212;
            }
            a {
                color: $dark_blue;
                font-weight: $body_bold;
                &:hover {
                    color: $dark_grey;
                    text-decoration: none;
                }
            }
        }
    } 
    
}

@media screen and (min-width: $footer_medium) {
    .site-footer {

        .footer-wths {
            .container {
                display: flex;
                justify-content: center;
            }
            h2 {
                border-top: none;
                text-align: left;
            }
            .about-nav, .social-nav {
                border-left: $footer-divider;
                margin-left: 50px;
                padding-left: 50px;
                padding-top: 50px;
            }
            .social-media-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            li {
                text-align: left;
            }
        }
        .footer-wps {
            .container{
                img {
                    float: left;
                }
            }
        }
    }
}


