.site-header {
    background: $header_blue;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-branding {
        font-family: $header_font;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        width: 100%;
        a {
            white-space: nowrap;

        }
    }

    a {
        color: $white;
    }

    nav {
        width: initial;
        display: flex;
        justify-content: flex-end;
    }



    .menu{
        li {
            padding: 20px;
            display: flex;
            align-items: center;

            li{
                padding: 0;
                line-height: 200%;
                border-width: 200%;
                a{
                    text-align: center;
                }
                :hover{
                    color: white;
                    background: $gl-light-grey;
                }
            }
        }
            
    }
    .sub-menu{
        background-color: white;
        @include aTags($gl-dark-grey);
    }
    
}