* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header, section, footer, aside, nav, .post-content, .post-header {
    max-width: $max-width;
    margin: 0 auto;
}
section{
    padding: 0 20px;
}
.wrapper, main, article {
    width: 100%;
    max-width: 100%;
}

.wrapper--dk-blue {
    background-color: $dark_blue;
}
.wrapper--dk-gray {
    background-color: $dark_grey;
}
.wrapper--lt-gray {
    background-color: $light_grey;
}
.wrapper--lt-blue {
    background-color: #b9d9eb;
}
.site-main {
    margin-top: 0;
}

.pricetable {
    width: 100%;
    padding: 10px;
    tr{
        display: grid;
        grid-template-columns: auto 1fr auto;
        margin:0;
        padding: 0;
        td:nth-child(2){
            display: block;
            width: 100%;
        }
    }
}          

iframe {
    max-width: 100%;
}

.lg {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.col-2{
    ul {
        margin: initial;
        padding: 0 20px;
    }
}
ul{
    padding-left: 0;
}
.full-grey {
    width:100%;
    max-width: 100%;
    background-color: $light_grey;
}
.show-md {
    display: none;
}

@media screen and (min-width: $wordmark_breakpoint) {
    
    .lg {
        position: relative !important;
        height: initial;
        clip: auto;
        clip-path: none;
        width: initial;
        margin: initial;
    }
}
@media screen and (min-width: $breakpoint_standard) {
    .show-md {
        display: initial;
    }

	
    .col-2{
        columns: 2;
        ul {
            margin: initial;
        }
    }

    .col-3{
        columns: 3;
        ul {
            margin: initial;
        }
    }

}
