.events {
    .news {
margin-top:40px;
    }
}
.news{
    h2{
        font-size: 60px;
        font-weight: $header_bold;
    }
    .news__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .news-feed {
        padding-top:20px;
        .event {
            display: flex;
            align-items: flex-start;
            border-bottom: 3px solid $dark_blue;
            padding: 20px 0;
            &:first-child {
                border-top: 3px solid $dark_blue;
            }
            h3 {
                font-size: 32px;
                font-weight: $header_bold;
                color: $dark_blue;
                margin: 0;
                text-align: left;
            }
            p {
                margin: 0;
            }
        }
        .date-icon {
            display: inline-block;
            background-color: $dark_grey;
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 0 0 $dark_grey_50;
            margin-right: 30px;

            .month, .day {
                font-family: $header_font;
                text-transform: uppercase;
            }
        }

        // h3:first-child {
        //     // border-top: 3px solid $dark_blue;
        //     padding-top: 20px;
        // }
        // h3 {
        //     font-size: 32px;
        //     font-weight: $header_bold;
        //     color: $dark_blue;
        //     margin: 0;
        //     margin-top: -5px;
        //     text-align: left;
        // }
        // p {
        //     margin: 0;
        //     margin-bottom: 20px;
        //     padding-bottom: 20px;
        //     text-align: left;
        //     border-bottom: 3px solid $dark_blue;

        // }
    }

    .featured-news {
        min-width: 50%;
        height: 600px;
    }

}

.events .news-feed > p {
    text-align: left;
    a {
        color: $dark_blue;
        transition: $soft;
        &:hover {
            color: $dark_grey;
            text-decoration: none;
        }
    }
}
.events-cta {
    text-transform: uppercase;
}
