.search-modal {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 9999;
    
    // padding: 20px;
    // @media (min-width: $breakpoint_standard) {
    //   position: fixed;
    //   display: none;
    // }
  }
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }

  .overlay .closebtn {
    position: absolute;
    font-size: 70px;
    cursor: pointer;
    color: lightgray;
    visibility: hidden;
    @media (min-width: $breakpoint_standard) {
      visibility: visible;
      top: 110px;
      right: 120px;
    }
  }

  .overlay .closebtn:hover {
    color: #ccc;
  }

  .overlay input[type="text"] {
    padding: 15px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: white;
    margin-left: 10px;
    border-style: solid;
    border-color: lightgray;
    @media (min-width: $breakpoint_standard) {
      margin-top: 160px;
    }
  }

  .overlay input[type="text"]:hover {
    background: #f1f1f1;
  }

  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }