.slideshow {
    transition: transform ease 0.5s;
    position: relative;
    width: 100%;
    height: 525px;
    min-height: 100%;

    .slide {
        position: absolute;
        width:100%;
        height: 100%;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

}

.slideshow--collection {
    
    .slide__text {
        width: 100%; 
        height: 100%;
    }
}