* {
    font-family: $body_font;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
    font-weight: $header_bold;
}



 th {
    text-align: left;
    font-size:x-large;
    color:#002855;
    font-family: "Oswald", Sans-serif;
    font-size: 32px;
  }


h1.post-title {
    font-size: 42px;
}

