$header_font: "Oswald", Sans-serif;
$body_font: "Open Sans", Sans-serif;
$header_blue: #003865EB;
$white: #ffffff;

$gl-primary: #002855;
$gl-secondary: #004B87;
$gl-dark-grey:  #333D47;
$gl-light-grey: #B2B4B2;
$gl-light-blue: #B9D9EB;
$gl-menu-grey: #EDEEED;