$header_font: "Oswald", Sans-serif;
$body_font: "Open Sans", Sans-serif;
$header_blue: #003865EB;
$white: #ffffff;

$primary: #002855;
$secondary: #004B87;
$dark-grey:  #333D47;
$light-grey: #B2B4B2;
$light-blue: #B9D9EB;
$menu-grey: #EDEEED;