$header_font: "Oswald", Sans-serif;
$body_font: "Open Sans", Sans-serif;
$header_blue: #003865EB;
$white: #ffffff;

$primary: #002855;
$secondary: #004B87;
$dark_grey:  #333D47;
$light_grey: #B2B4B2;
$light_blue: #B9D9EB;
$menu_grey: #EDEEED;

$soft:  all ease 0.3s;

$breakpoint_standard: 450px;
$breakpoint_desktop: 1250px;