$header_font: "Oswald", Sans-serif;
$header_bold: 500;
$header_light: 400;
$header_extra_light:200;
$body_font: "Open Sans", Sans-serif;
$body_bold: 700;
$body_light: 500;
$white: #ffffff;

$header_height: 76px;

$primary: #002855;
$secondary: #004B87;
$dark_grey:  #333D47;
$light_grey: #B2B4B2;
$dark_grey_50: rgba(51, 61, 71, 0.5);
$lighter_grey: #e4e3e3;
$dark_blue: $primary;
$light_blue: #B9D9EB;
$menu_grey: #EDEEED;
$footer-divider-color: rgba(255,255,255,0.5);
$footer-divider: $footer-divider-color 1px solid;

$soft:  all ease 0.3s;
$max_width: 1400px;

// Breakpoints
$breakpoint_standard: 450px;
$footer_medium: 760px;
$breakpoint_desktop: 1280px;
$nav_breakpoint: $breakpoint_desktop;


$header_blue: #003865;
$header_background: #003865;
$hover_bg_dark: rgba(0,0,0,0.5);
$header_logo_height: 75px;
$brand_width: 400px;
$brand_font_size: 24px;
$header_padding: 0;
$nav_text_color: $white;
$nav_text_color_hover: $light_grey;

$hero_overlay:rgba(20, 71, 113,0.5);

// carousel vars
$slide-transition: ease 0.5s all; 
$min-height: 400px;
$overlay: rgba(0,0,0,0.5);
$indicator: rgba(100%,100%,100%,0.6);

// Entry Header **READ: https://css-tricks.com/snippets/css/fluid-typography/
$entry-header-size: calc(48px + (72 - 48) * ((100vw - 300px) / (1400 - 300)));