{% comment %}
This component requires a collection parameter. 
@required: collection to render
@example_usage:
  
  {%- include components/collection-slideshow.html collection="academics" -%}

{% endcomment %}
<div class="slideshow slideshow--collection slideshow--{{include.collection}}">
    {% assign slides = site.[include.collection] %}
    <!-- {{slides | inspect}} -->
    {% for slide in slides %}
      <div class="slide">
        <img 
          src="{{ slide.featured_image }}" 
          alt="{{ slide.title }}">
        <div class="slide__content">
          <div class="left-control"><i class="fa-solid fa-chevron-left"></i></div>
          <div class="slide__text">
            <h3>{{ slide.title }}</h3>
            <a href="{{ slide.url }}">Learn More</a>
          </div>
          <div class="right-control"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
      </div>
    {% endfor %}
    </div>