{% comment %}
This component requires front matter. 
@required: "slides", "hero_text"
@example:
    ---
    hero_slides: 
        - image: "https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016973/2022/06/IMG_5222-5-scaled_mhjmva.jpg"
        alt: "Web Dev Students"
        position: "object-position: center 75%;"
        - image: "https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016966/2022/05/07C7A651-2D1F-43F6-BE63-383639091C84_biukvq.jpg"
        alt: "Carpentry Students"
        position: "object-position: center;"
        - image: "https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016972/2022/06/2CF7C34E-D8A1-4E93-A020-B4198E17C843_pilgb0.jpg"
        alt: "Student Welding"
        position: "object-position: center;"

    hero_text: "<h1>Worcester Technical High&nbsp;School</h1>
            <p><em>The School That Works</em></p>"
    ---

{% endcomment %}
<div id="carousel-hero" class="carousel hero" >
  <div class="slide-container">
    {% for slide in page.hero_slides %}
      <div class="slide">
        <img 
          src="{{ slide.image }}" 
          alt="{{ slide.alt }}"
          style="{{ slide.position }}">
      </div>
    {% endfor %}
  </div>
  <div class="caption hero-text">
    {{ page.hero_text }}
  </div>
</div>
