<section class="hero slideshow">
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016973/2022/06/IMG_5222-5-scaled_mhjmva.jpg" 
        alt="Web Dev Students"
        style="
          object-position: center 75%;">
    </div>
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016966/2022/05/07C7A651-2D1F-43F6-BE63-383639091C84_biukvq.jpg" 
        alt="Carpentry Students"
        style="
          object-position: center;">
    </div>
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016972/2022/06/2CF7C34E-D8A1-4E93-A020-B4198E17C843_pilgb0.jpg" 
        alt="Student Welding"
        style="
          object-position: center;">
    </div>
    <div class="hero-text">
      <h1>Worcester Technical High&nbsp;School</h1>
      <p><em>The School That Works</em></p>
    </div>
  </section>