.academies{
    text-align: center;
    .post-content{
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 25%;
        &.cards {
            gap: 20px;
        }
    }
    
}