.academics{

    color: black;
    .post{
        height:auto;
        h1{
            text-align: center;
        }
        .courses{
            background-color: $secondary;
            color:white;
            padding: 5px 25px;
            border-radius: 30px;
        }
        h3{
            vertical-align: center;
        }
        color: black;
    }
        

    .tip{
        background-color: $primary;
        height:400px;
        h2{
            color:white;
            
        }
        color: black;
    }
    .faculty-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        column-gap: 10%;

    }
    .contact-us{
        max-width: 100%;
    }

}