.admissions{

    text-align: center;
    h2 {
        text-align: center;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .admission-lottery {
        padding-bottom: 30px;
        border-bottom: solid 2px $primary;
        h2 {
            display: flex;
            justify-content: center;
            align-items: start;

            span {
                margin:0 5px;
                font-family: inherit;
                // flex-shrink: 1;
            }
            i {
                padding-top:5px;
            }
        }
    }
    .post-content {
        font-size: large;
        color: rgb(17, 65, 102);
        margin-top: 2%;
    }

    .video-placeholder {
        border: $primary solid 2px;
        background-color: $light-blue;
        border-radius: 25px;
        max-width: 400px;
        margin: auto;
        margin-top:45px;
        color: $primary;
        font-size: large;
        p {
            font-family: $header-font;
            margin: 0;
            font-size: 1.5em;
        }
        >p {
            padding-bottom: 15px;
        }
        img {
            border: $primary solid 2px;
            border-radius: 50%;
            display: block;
            margin: -35px auto 0 auto;
            text-align: center;
            line-height: 75px;
            background-color: #fff;
        }
        .video-placeholder-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 75px;
            border-top: solid 2px $primary;
            font-weight: 500;
            font-size: larger;
            color: $primary;
            p {
                height: 75px;
                line-height: 75px;
                width: 100%;
                text-align: center;
            }
            p:first-child {
                border-right: solid 2px $primary;
            }

            a {
                height: 75px;
                line-height: 75px;
                width: 100%;
                text-align: center;
                font-family: $header-font;
                color: $primary;

                :visited {
                    color: $primary;
                }
            }
        }
    } 

    .documents {
        ul {
            display: inline-block;
            text-align: left;
            color: white;
        }
    }
    
    //                        ** These comments are to hide the blue background to the video so that the placeholder is the only thing left. Code may or may not be bad :) **
    // .background {
    //     background-color: $primary;

    // }
    // .outer {
    //     border: 4px $primary;
    //     padding: 20px;
    //     border-style: solid;
    // }
    // a {
    //     color:#fff;
    // }
    #inner {
        margin: -10px;
        padding: 0px;
        color: white;

        font-size: xx-small;
    }
}
