.contact{
    ul{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    text-align: center;
}


//Box sizing
.contact{
    form{
        max-width: 31.25rem;
        padding: 0 1.25rem;
        margin: auto;
        label{ //Box Label coloring and text weight
            color: $primary;
            font-weight: bold;
        }
    }
}


//Box organization for the contact us form
//Puts labels above boxes and boxes in a column
//Also more box sizing
input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

//Submit button styling 
input[type=submit]{
    background-color: white;
    color: $primary;
    width: 50%;
    font-weight: bold;
    transition: 0.3s all ease; //This creates a fade effect for the transition to the hover colors
}

//Submit button hover Styling. It is the reverse of regular colors
input[type=submit]:hover{
    background-color: $primary;
    color:white;
}