.contact{
    text-align: center;
    section{
        padding: 0;
    }
    .office-info{
    
        display: flex;
        justify-content: center;

        p{
          color:$dark_grey;  
          font-family: $header_font;
          margin: auto;
          word-spacing: 60%;
        }
        h3{
            color:$dark_grey;  
            font-family: $header_font; 
        }

        .box{
            max-width: 150px;
            margin: 40px;            
        }

        .icon{
            min-height: 100px;
            max-width: 100px;
            background-color: $secondary;
            border-radius: 50%;
            display: inline-block;
            img{
                object-fit: contain;
                height:95px;
            }
        }
        @media (max-width:930px) {
            .box{
                min-width: 300px;
                max-width: 700px;
            }
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            flex-grow: 3;
        
        }
    }

    ul{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    form{
        max-width: 31.25rem;
        padding: 0 1.25rem;
        margin: auto;
        label{ //Box Label coloring and text weight
            color: $secondary;
            font-weight: bold;
            font-family: $header_font;
            font-size: 20px;
            text-align: left;
            display: block;
        }
        
    }
        
        
    //Box organization for the contact us form
    //Puts labels above boxes and boxes in a column
    //Also more box sizing
    input, textarea{
        width: 100%;
        padding: 12px;
        border: 2px solid $secondary;
        border-radius: 30px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    //Submit button styling 
    input[type=submit], .close-btn{
        background-color: white;
        color: $secondary;
        width: 50%;
        font-weight: bold;
        transition: 0.3s all ease; //This creates a fade effect for the transition to the hover colors
    }

    //Submit button hover Styling. It is the reverse of regular colors
    input[type=submit]:hover, .close-btn:hover{
        background-color: $primary;
        color:white;
    }

    .contact-modal {
        z-index: -1;
        width: 100%;
        position: fixed;
        max-width: 500px;
        max-width: 31.25rem;
        padding: 30px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        background-color: $white;
        border: 1px solid $light_grey;
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.2);
        border-radius: 20px;

    }
    .contact-modal.show {
        opacity: 1;
        z-index: 1;
        transition: 0.3s all ease;
    }
    


    
    
}