.departments{
    h1{
        text-align: center;
        color: black;
    }
    .certifs, .courses{
        color: white;
        background-color: $primary;
        padding: 10px 25px;
        ul {
            padding: 0;
        }
    }
}
