.department{
    .post-title{

        font-family: $header_font;
        font-weight: $header_bold;

        color: $secondary;
        width: 200%;
        height: 100px; 
        background-color:white;
        margin-left:-70px;
        margin-right:80px;
    }
    color: black;

    .post-content{
        height:auto;
        .Alumni_section{
            background-color: $primary;
            height:auto;
            color:white;
        }
    }
        

    .tip{
        background-color: $primary;
        height:400px;
        h2{
            color:white;
            
        }
        color: black;
    }
    .faculty-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }
    .contact-us{
        max-width: 100%;
    }
}
