.departments{
    h2{
        font-size: 32px;
        text-align: center;
        color: black;
    }
    #faculty {
        margin-bottom:0;
    }
    .cert-list, .course-list{
        color: white;
        background-color: $primary;
        padding: 20px;
        border-radius: 10px;
        ul {
            padding: 0;
            margin-left: 20px;
        }
    }
    .course-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
       
    }
    .alumn-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img{
            max-height: 275px;
            max-width: 293px;
            margin-top: 50px;
        }
        
        .alumn-content{
            display: flex;
            max-width: 500px;
            max-height: 200px;
            flex-direction: column;
        }
    }

    .courses{
        .summer-work{
            border-radius: 10px;
            margin-top: 0;
            background-color: $light-grey;
            color: black;
        }
    }
}
