.department{
    .post-title{

        font-family: $header_font;
        font-weight: $header_bold;

        color: $secondary;
        width: 100%;
        background-color:white;
        text-align: center;
    }
    color: black;

    .post-content{
        padding: 40px 10px;
        margin: 0 185px;
        p{
            text-align: center;
            font-size: 22px;
        }
        h2{
            text-transform: uppercase;
            font-size: 45px;
            background-color: $secondary;
        }
        ul{
            background-color: $secondary;
        }
    }
        
    .faculty-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }
    .contact-us{
        max-width: 100%;
    }
}
