/*
    Styling for every page that uses the departments.html layout.
    This consists mainly of the academic pages (math, science, english, history)
*/
.departments{
    /*
        cert-list and course-list are very similar styling wise
        course-list is in a grid to keep the content organized by grade
    */
    h2{
        font-size: 32px;
        text-align: center;
        color: black;
    }

    .shop-page-border {
        border: 4px solid #002855;
        margin: 40px auto;
        padding: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        text-align: center;
        background-color: #fff;
        box-shadow: 11px 11px $light_grey;
        p {
            margin: 0;
        }

        ul, ol {
            display: inline-block;
            text-align: left;
        }
    }
    #faculty {
        text-align: center;
        font-size: 3em;
        border-bottom: solid 2px $primary;
        padding-bottom: 20px;
        width: 80%;
        margin: 40px auto;
        color: $primary;
    }
    }
    .cert-list, .course-list{
        color: white;
        background-color: $primary;
        padding: 20px;
        border-radius: 10px;
        ul {
            padding: 0;
            margin-left: 20px;
        }
    }
    .course-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .shop-img-grid{
        margin: auto;
        img{
            display: block;
            margin: 10px auto;
            width: 100%;
            height: auto;
            max-width: 300px;
        }
    }

    @media (min-width: 500px) {
        .shop-img-grid {
            max-width: 750px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 7px 7px;

            img:first-child {
                grid-column: 1 / 3;
                grid-row: 1/3;
                max-width: 500px;
            }

            img {
                margin: 0;
                max-width: 250px;
            }
        }
    }

    .alumn-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img{
            object-fit: contain;
            height: 650px;
            width: 480px;
            margin-top: 50px;
        }
        
        .alumn-content{
            display: flex;
            max-width: 500px;
            max-height: 200px;
            flex-direction: column;
        }
    }

    /*
        Summer work is grey and round to somewhat contrast with the certifications section
        It also adds more color to the page and makes it look less like a generic document
    */

    .courses{
        .summer-work{
            color: white;
            background-color: $primary;
            padding: 20px;
            border-radius: 10px;
        ul {
            padding: 0;
            margin-left: 20px;
        }
        }
    }

