.faculty{
    .faculty-list{
        display: flex;
        flex-direction: column; 
        align-items: center;
        column-gap: 10%;
        justify-content: space-evenly; 
        
        h2{
            text-transform: capitalize;
            color: $primary;
            font-family: $header_font;
            font-size: 2.5rem;
        }
        
        .faculty_department{
            display: flex;
            flex-wrap: wrap;

            justify-content: space-evenly; 
        }
    }
}