.faculty-list{
    display: flex;
    flex-direction: row;  
    align-items: center;
    column-gap: 10%;
    
    h2{
        text-transform: capitalize;
        color: $primary;
        font-family: $header_font;
        font-size: 2.5rem;
    }
    
    .faculty_department{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}