.meet-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:stretch;
    margin: 0 10% 0 10%;
    .principal{
        text-align: center;
        min-width: 45%;
        font-size: 300%;
        border-style: none none solid none;
        border-width: 5px;
        border-color: $secondary;
        margin: auto 5% auto 5%;
        p{
            font-family: $header_font;
        }
        .principal-name{
            color: $secondary;
        }
    }
    .principal-image{
        .card--faculty{
            width: auto;
        }
        min-width: 40%;
        .staff-members{
            img{
                width: 500px;
                border-radius: 100%;
                height: 450px;
                object-fit: cover;
                object-position: 0 0;
                border-style: solid;
                border-width: 20px;
                border-color: $secondary;
            }
        }
    }
    .about{
        max-width: 45%;
        margin-right: 5%;
        margin-left: 5%;
        padding: 0 10px 0 20px;
        background-color: #196ebf;
        color: white;
    }
    .outside-Wths{
        max-width: 40%;
        background-color: #bfd6ed;
        padding: 0 10px 0 20px;
    }
    .more{
        text-align: center;
        margin-top: 10px;
        padding: 0 10px 0 20px;
        background-color: #7faedb;
        color: white;
        a{
            color: white;
            font-weight: bold;
        }
    }
    @media (max-width:500px) {

        .about, .outside-Wths{
            max-width: 100%;
        }
    }
}