.public_services{
    .post-content{
        p{
            text-align: center;
        }
        ul{
            text-align: center;
            list-style-type: none; 
            margin: 0px;
        }
    }
}