.public_services{
    .post-content{
        
        p{
            text-align: center;
        }
        ul{
            text-align: center;
            list-style-type: none; 
            margin: 0px;
        }
        .wrapper{
            max-width:none;
            border-radius: 10px;
        }
        table{
            padding: 10px 20px 10px 20px;
        }
  

    }
    .auto-content {    
        display: flex;

        .col{
            flex: 33.33%;
            padding: 40px;
        }

        h3{
            font-size: 1.5em;
        }
        h2{
            
            font-size: 3.5em;
            text-align: start;
        }
        img{
            padding: 0px;
            display: flex;
            justify-content: flex-start;
            max-height: 400px;
            max-width: 750px;
        }
        
    }
}