---
layout: default
---
<div class="academies">
<article class="post cards">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% assign section_name = page.slug | replace: "-", "_" %}    
    {% for sub in site[section_name] %}
    <div class="card card--academics">
      <div class="image-container">
        <img src="{{ sub.featured_image }}">
      </div>
      <div class="card-content">
        <h2>{{ sub.title }}</h2>
        <p>{{ sub.excerpt }}</p>
        <a class="btn btn--click" href="{{ sub.url }}">Learn More</a>
      </div>
    </div>
      {% endfor %}
    <section>
      {{ content }}
    </section>
  </div>

</article>
</div>