---
layout: default
---

<article class="post {{ page.slug }} events">
  {%- include components/hero-entry.html -%}
  <div>
    <div id='calendar' class="events_calendar">
    </div>
  </div>
  <section class="post-content news">
    <!--These lines are required to make the calendar work. It calls code from other Javascript libraries. Basically importing
      <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.0.3/locales-all.global.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js"></script>
      <script src="https://fullcalendar.io/releases/core/4.0.2/main.min.js"></script>
      <script src="https://fullcalendar.io/releases/google-calendar/4.0.1/main.min.js"></script>
      <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
      <script src="https://fullcalendar.io/releases/list/4.0.1/main.min.js"></script> -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.0.3/index.global.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var initialLocaleCode = 'en'; //Sets the default language
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: initialLocaleCode,
          //plugins: ['dayGrid', 'list', 'googleCalendar','listPlugin'],
          //initialView: 'listYear',
          views: {
            listDay: { buttonText: 'Day View' },
            listWeek: { buttonText: 'Week View' },
            listMonth: { buttonText: 'Month View' },
            dayGridMonth: { buttonText: 'Calendar' },

          },

          aspectRatio: 10,
          contentHeight: 800,

          buttonText: {
            today: 'Today'
          },

          headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: 'dayGridMonth listDay,listWeek,listMonth'
          },

          titleFormat: { year: 'numeric', month: 'short' },
          listDayFormat: { weekday: 'long', month: 'short', day: '2-digit' },
          listDaySideFormat: false,

          googleCalendarApiKey: "AIzaSyCleR5hROa8zwK8FmFmFYa2MJ_2w_yTFkk",

          events: {
            googleCalendarId: "techhigh.us_ii29m54j9iumi3a2i6mkc5qo90@group.calendar.google.com",
            className: "gcal-event", // an option!
          },


          eventClick: function (arg) {

            // opens events in a popup window
            window.open(arg.event.url, '_blank', 'width=700,height=600');

            // prevents current tab from navigating
            arg.jsEvent.preventDefault();
          }
        });


        calendar.render();
        // build the locale selector's options
        calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
          var optionEl = document.createElement('option');
          optionEl.value = localeCode;
          optionEl.selected = localeCode == initialLocaleCode;
          optionEl.innerText = localeCode;
        });

        // If the user is on mobile, the view gets changed to an agenda view.
        function mediaViewChange(x) {
          if (x.matches) {
            calendar.changeView('dayGridMonth');
          } else {
            calendar.changeView('listMonth');
          }
        }

        var x = window.matchMedia("(min-width: 450px)")

        mediaViewChange(x);

        x.addEventListener("change", function () {
          mediaViewChange(x);
        })


      });
    </script>
    <h2 id="coach-info">Coach Contact Information</h2>

    {{ content }}
    
  </section>

</article>