---
layout: default
---
<article class="post {{ page-slug }} ">

  {%- include components/hero-entry.html -%}

  <div class="post-content contact">
    {{ content }}
    <section>
      <form aria-label="Contact Form" action="" method="POST" id="contact-form">
        <label for="name" id="name-label">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" aria-describedby="email-help" required>

        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" required>
        
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="10" rows="10" required></textarea>

        <input type="submit" value="Send">
       
      </form>
    </section>
  </div>

</article>
