---
layout: default
---

<div class="departments">
  {%- include components/hero-entry.html -%}
  <article class="post">
    <section class="post-content">
        {{ content }}
    </section>
        <!-- If statements that will print courses if academic or certs if shop page-->
        {% if page.certifications %}
        <section class="certifs">
          <div class="shop-certifications">
            <h3>Certifications</h3>
            <ul>
              {% for item in page.certifications %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </section>


      <!-- academics department-->
      {% elsif page.courses %}
      <h1>Courses By Year</h1>
        <section class="courses">
          {% for grade in page.courses %}
            <h3>{{ grade[0]}}</h3>
            <ul>
              {% for course in grade[1] %}
                <li>{{ course }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </section>
      {% endif %}
    
      <section class="contact-us">
        <div class="faculty-list card-container">
            {% for faculty in site.data.faculty %}
            {% assign staff = faculty.department | remove: '"' %}
            {% assign depart = staff | strip %}
            {%- if depart == page.title -%}
              <div class="staff-members">
                <div class="card card--faculty">
                  <div class="staff">
                      <img src="{{ faculty.image_url }}" alt="{{ faculty.first_name }} {{faculty.last_name}}">
                    <div class="card-content">
                      <p class="name card-title">{{ faculty.first_name }} {{ faculty.last_name }}</p>
                      <p class="title card-description">{{ faculty.title }}</p>
                      <p class="email card-description"><a href="mailto:{{ faculty.email }}">{{ faculty.email }}</a></p>
                    </div>                        
                  </div>
                </div>
              </div>
                {%- endif -%}
              {% endfor %}
          </div>
      </section>
      
  </article>
</div>

