---
layout: default
---
<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  
    <div class="post-content">
      {{ content }}
    </div>
    <section class="contact-us">
      <div class="faculty-list">
          {% for faculty in site.data.faculty %}
              <div class="staff-members">
                {%- if faculty.department == page.title -%}
                  <div class="staff">
                      <img src="{{ faculty.image_url }}" alt="{{ faculty.name }}">
                      <p class="name">{{ faculty.name }}</p>
                      <p class="title">{{ faculty.title }}</p>
                      <p class="email"><a href="mailto:{{ faculty.email }}">{{ faculty.email }}</a></p>
                  </div>
                  {%- endif -%}
              </div>
          {% endfor %}
      </div>
    </section>
  
  </article>
