---
layout: default
---
<article class="post {{ page.slug }}">

  {%- include components/hero-entry.html -%}

  <section class="post-content news">
    <div class="news__body">
      <aside class="news-feed">
        {% if site.data.events %}
          {%- for e in site.data.events -%}
          
          <div class="event">
            <div class="date-icon">
              <div class="month">{{ e.month }}</div>
              <div class="day">{{ e.day }}</div>
            </div>
            <div class="event-details">
              <h3 id="{{ e.event }}">{{ e.event }}</h3>
              <p>{{ e.location }}, {{ e.date }}{%- if e.time -%}, {{ e.time }}{%- endif -%}</p>
            </div>
          </div>
          {%- endfor -%}

        {% endif %}
        {{ content }}
      </aside>
      <aside class="featured-news">
        {%- include components/collection-carousel.html collection="featured_news" height="500px" -%}
      </aside>
    </div>
  </section>

</article>
