---
layout: default
---
<article class="post faculty">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  
    <div class="post-content">
      {{ content }}
    </div>
    <div class="faculty-list">
      <h2>{{ site.data.faculty[0].department }}</h2>
      <section class="faculty_department">
        {% for faculty in site.data.faculty %}
          {%- if faculty.department != lastdep -%}
          {%- if forloop.index0 != 0 -%}
          </section>
          <h2>{{ faculty.department }}</h2>
          <section class="faculty_department">
          {%- endif -%}
          {%- endif -%}
          <div class="staff-members">
          {% assign lastdep = faculty.department %}
          <div class="card card--faculty">
            <div class="staff">
              <img src="{{ faculty.image_url }}" alt='{{ faculty.first_name }} {{faculty.last_name}}'>
              <p class="name card-title">{{ faculty.first_name }} {{ faculty.last_name }}</p>
              <p class="title card-description">{{ faculty.title }}</p>
              <p class="email card-description"><a href="mailto:{{ faculty.email }}">{{ faculty.email }}</a></p>
              </div>
            </div>

          </div>
        {% endfor %}
    </div>
  
  </article>