---
layout: default
---

<article class="front-page">
  {%- include components/hero-carousel.html -%}
  
  <section class="mission">
    <div class="wrapper">
      <h2>Our Mission</h2>
    <p>To educate and prepare students, both academically and technically, to meet the challenges of a global society. Students will be provided with a highly supportive and academically challenging learning environment in the STEM initiatives to ensure our graduates are prepared for career and college and are compete&nbsp;globally.</p>  
    
    <aside class="stats">
      <div class="stat">
        <i aria-hidden="true" class="fas fa-cog"></i>
        <span>23</span>
        <p>Technical Areas</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
        <span>98%</span>
        <p>Graduation Rate</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-users"></i>
        <span>1,400</span>
        <p>Total Students</p>    
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-chart-pie"></i>
        <span>11:1</span>
        <p>Student to Teacher Ratio</p>
      </div>
    </aside>
    </div>
  </section>
  
  <div class="wrapper wrapper--lt-gray">
    <section class="news">
        <h2>News and Events</h2>
        <div class="news__body">
          <aside class="news-feed">
            {{ content }}
          </aside>
          <aside class="featured-news">
            {%- include components/collection-carousel.html collection="featured_news" height="500px" -%}
          </aside>
        </div>
    </section>
  </div>
  
  <div class="wrapper wrapper--lt-gray">
    <section class="learn_more">
      <div class="card card--full-cover">
        <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016845/TechHigh.us/about-picture-2-1024x576_au2cha.jpg" alt="Admissions">
        <div class="card-content">
          <h2 class="card-title">Admission</h2>
          <p class="card-description">Interested in applying?</p>
          <a class="btn btn--ghost" href="/learn-more/admissions/">Apply here!</a>
        </div>
      </div>
      <div class="card card--full-cover">
        <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016874/2022/04/c88f76e0-1499-4954-920b-faac2e8cc48b-LOC_Tech_Principal.jpg_br3w5q.jpg" alt="Staff">
        <div class="card-content">
          <h2 class="card-title">Faculty</h2>
          <p class="card-description">Worcester Tech's faculty</p>
          <a class="btn btn--ghost" href="/learn-more/faculty/">Meet our staff!</a>
        </div>
      </div>
      <div class="card card--full-cover">
        <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668014431/2021/03/book-and-pen-300x200_udu70q.jpg" alt="Book and pen">
        <div class="card-content">
          <h2 class="card-title">Contact Us</h2>
          <p class="card-description">Need to contact us?</p>
          <a class="btn btn--ghost" href="/learn-more/contact-us/">Click here!</a>
        </div>
      </div>
      
      
    </section>
  </div>
  <section class="academics">
    <h2>Academics</h2>
    {%- include components/collection-carousel.html collection="academics" -%}
  </section>
  
  <section class="technical-academies">
    <h2>Technical Academies</h2>
    {%- include components/collection-carousel.html collection="technical_areas" -%}
    
  </section>
</article><!-- /.landing -->