---
layout: default_no_wrapper
---

<div class="landing">

  <section class="hero slideshow">
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016973/2022/06/IMG_5222-5-scaled_mhjmva.jpg" 
        alt="Web Dev Students"
        style="
          object-position: center 25%;">
    </div>
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016966/2022/05/07C7A651-2D1F-43F6-BE63-383639091C84_biukvq.jpg" 
        alt="Carpentry Students"
        style="
          object-position: center;">
    </div>
    <div class="slide">
      <img 
        src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016972/2022/06/2CF7C34E-D8A1-4E93-A020-B4198E17C843_pilgb0.jpg" 
        alt="Student Welding"
        style="
          object-position: center;">
    </div>
    <div class="hero-text">
      <h1>Worcester Technical High&nbsp;School</h1>
      <p><em>The School That Works</em></p>
    </div>
  </section>
    
  <section class="mission">
    <h2>Our Mission</h2>
    <p>To educate and prepare students, both academically and technically, to meet the challenges of a global society. Students will be provided with a highly supportive and academically challenging learning environment in the STEM initiatives to ensure our graduates are prepared for career and college and are compete globally.</p>  
    
    <aside class="stats">
      <div class="stat">
        <i aria-hidden="true" class="fas fa-cog"></i>
        <span>23</span>
        <p>Technical Areas</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
        <span>98%</span>
        <p>Graduation Rate</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-users"></i>
        <span>1,400</span>
        <p>Total Students</p>    
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-chart-pie"></i>
        <span>11:1</span>
        <p>Student to Teacher Ratio</p>
      </div>
    </aside>

  </section>

  <section class="news">
    <h2>New & Events</h2>
  </section>
    
  <section class="learn_more">
    <div class="card">
      <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016845/TechHigh.us/about-picture-2-1024x576_au2cha.jpg" alt="Admissions">
      <div class="card card--faculty">
        <h2 class="card-title">Admission</h2>
        <p class="card-description">Interested in applying?</p>
        <a class="card-btn" href="">Click here!</a>
      </div>
    </div>

    <div class="card">
      <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016845/TechHigh.us/about-picture-2-1024x576_au2cha.jpg" alt="Admissions">
      <div class="card card--faculty">
        <h2 class="card-title">Something</h2>
        <p class="card-description">EEEEE</p>
        <a class="card-btn" href="">Click here!</a>
      </div>
    </div>

    <div class="card">
      <img src="https://res.cloudinary.com/dxm7ycyxz/image/upload/v1668016845/TechHigh.us/about-picture-2-1024x576_au2cha.jpg" alt="Admissions">
      <div class="card card--faculty">
        <h2 class="card-title">Something</h2>
        <p class="card-description">EEEEE</p>
        <a class="card-btn" href="">Click here!</a>
      </div>
    </div>
    
  </section>
</div>