---
layout: default
---
<div class="landing">

  <section class="hero">
    <h1>Worcester Technical High&nbsp;School</h1>
    <p><em>The School That Works</em></p>
  </section>
    
  <section class="mission">
    <h2>Our Mission</h2>
    <p>To educate and prepare students, both academically and technically, to meet the challenges of a global society. Students will be provided with a highly supportive and academically challenging learning environment in the STEM initiatives to ensure our graduates are prepared for career and college and are compete globally.</p>  
    
    <aside class="stats">
      <div class="stat">
        <i aria-hidden="true" class="fas fa-cog"></i>
        <span>23</span>
        <p>Technical Areas</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-graduation-cap"></i>
        <span>98%</span>
        <p>Graduation Rate</p>
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-users"></i>
        <span>1,400</span>
        <p>Total Students</p>    
      </div>
      <div class="stat">
        <i aria-hidden="true" class="fas fa-chart-pie"></i>
        <span>11:1</span>
        <p>Student to Teacher Ratio</p>
      </div>
    </aside>
    
  </section>
    
  </div>