---
layout: default
---
<article class="post {{ page.slug }}">
  {%- include components/hero-entry.html -%}
  <section class="post-content">
    {{ content }}
  </section>
  <div class="meet-principal">
    <div class="principal">
        <p>Meet Principal</p>
        <p class="principal-name">Drew Weymouth</p>
    </div>
    <div class="principal-image">
        {% for faculty in site.data.faculty %}
        {% assign staff = faculty.title | remove: '"' %}
        {%- if staff == page.title -%}
        <div class="staff-members">
            <div class="card card--faculty">
            <div class="staff">
                <img src="{{ faculty.image_url }}" alt="{{ faculty.first_name }} {{faculty.last_name}}">
                <div class="card-content">
                <p class="name card-title">{{ faculty.first_name }} {{ faculty.last_name }}</p>
                <p class="title card-description">{{ faculty.title }}</p>
                <p class="email card-description"><a href="mailto:{{ faculty.email }}">{{ faculty.email }}</a></p>
                </div>                        
            </div>
            </div>
        </div>
        {%- endif -%}
        {% endfor %}
    </div>
    <div class="about">
        <h4>About Principal Weymouth</h4>
        <p>
            Drew Weymouth was named Worcester Tech's Principal in 2022. He is passionate about technical education and helping prepare students with the skills needed to make them succeed in their future careers.
        </p>
        <p>
            Mr.Weymouth started off his career as a Math & Science teacher at Wachusett High School, until joining WTHS in 2014 as an Assistant Principal. In 2018, he helped develop and run the Innovation Pathways Program for WPS to help expand career education to more students. He was the Director of the program untill this past summer of 2022.
        </p>
    </div>
    <div class="outside-Wths">
        <h4>Outside of WTHS</h4>
        <p>
            Mr.Weymouth lives with his wife and three sons, where they enjoy doing activities together such as skiing, watching sports, hiking, and traveling.
        </p>
        <p>
            In his spare time, Mr.Weymouth enjoys going for a run or playing soccer.
        </p>
    </div>
    <div class="more">
        <p>
            To read more, visit the Telegram and Gazzette's full article <a href="https://www.telegram.com/story/news/2022/04/05/worcester-technical-high-school-names-drew-weymouth-new-principal/7207813001/">Here</a>
        </p>
    </div>
  </div>

</article>