---
layout: default
---
<div class="public_services">
    <article class="post {{ page.slug }}">
        
        {%- include components/hero-entry.html -%}

        <section class="post-content">
            {{ content }}
        </section>
        
        {% if page.external %}
        <div class="external-links">
            <a target="_blank" class="btn btn--cta" href="{{page.external}}">{{ page.title }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div> 
        {% endif %}
    </article>
    
</div>
