---
layout: default
---
{%- include subheader.html -%}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>


    
    <section class="card-container">
      {% assign section_name = page.slug | replace: "-", "_" %}    
      {% for sub in site[section_name] %}
      <div class="card card--full-cover card--academy">
        <img src="{{ sub.featured_image }}" >
        <div class="card-content">
            <a class="btn btn--ghost" href="{{ sub.url }}"> {{ sub.title }} </a>
        </div>
        
      </div>


        <!-- <p>{{ sub.title }}</p> -->
      {% endfor %}
    </section>
    <section class="post-content">
      {{ content }}
    </section> 
</article>
