---
layout: default
---
<article class="post shops">

  {%- include components/hero-entry.html -%}
<div class="wrapper">
  <div class="post-content">
    {{ content }}
    {% if page.certifications %}
      <section class="certifs">
        <div class="shop-certifications">
          <h2>Certifications</h2>
          <ul>
            {% for item in page.certifications %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endif %}
  </div>
  <section class="contact-us">
    <div class="faculty-list">
        {% for faculty in site.data.faculty %}
            <div class="staff-members">
              {% assign staff = faculty.department | remove: '"' %}
              {% assign depart = staff | strip %}
              {%- if depart == page.title -%}
              <div class="card card--faculty">
                <div class="staff">
                    <img src="{{ faculty.image_url }}" alt="{{ faculty.name }}">
                    <div class="card-content">
                      <p class="name card-title">{{ faculty.name | replace_first: " ", ", " }}</p>
                      <p class="title card-description">{{ faculty.title }}</p>
                      <p class="email card-description"><a href="mailto:{{ faculty.email }}">{{ faculty.email }}</a></p>
                    </div>
                    
                </div>
              </div>
                {%- endif -%}
            </div>
        {% endfor %}
    </div>
  </section>
</div>
  

</article>

