---
layout: default
---
<article class="post {{ page-slug }}">

  {%- include components/hero-entry.html -%}

  <section class="post-content">
    {{ content }}
  </section>

</article>

<div class="student_life">
    <article class="post">

    <header class="post-header">
    </header>

    <section class="card-container post-content" >
      {% assign section_name = page.slug | replace: "-", "_" %}    
      {% for sub in site[section_name] %}
      <a class="link-wrapper" href="{{ sub.url }}">
        <div class="card card--student-life" >
          <div class="image-container">
            <img src="{{ sub.featured_image }}">
          </div>
          <div class="card-content">
            <h2>{{ sub.title }}</h2>
            <p>{{ sub.excerpt }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </section>
    </article>
</div>