---
layout: default
---
<div class="academies">
  <article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

    <section class="card-container post-content">
      {% assign section_name = page.slug | replace: "-", "_" %}    
      {% for acad in site[section_name] %}
      <div class="card card--academics">
        <div class="image-container">
          <img src="{{ acad.featured_image }}">
        </div>
        <div class="card-content">
          <h2>{{ acad.title }}</h2>
            <div class="shop-list">
              {% assign acad_collection = acad.slug | replace: "-", "_" %}
              {% for shop in site[acad_collection] %}
                  <div>
                  <a class="shop-links" href="{{ shop.url }}">{{ shop.title }}</a> 
                  </div>
                  
              {% endfor %}
              
            </div>
            <a class="btn btn--click" href="{{ acad.url }}">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </section>

    

</article>
</div>

